<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="solid"> Solid Border</div><hr>
    <div class="double"> Double Border</div><hr>
    <div class="groove"> Groove Border</div><hr>
    <div class="inset"> inset border</div><hr>
    <div class="outset" style="border-color: pink"> outset border</div><hr>
    <div class="dashed red thin">dashed border</div><hr>
    <div class="thick dotted orange"> thick dotted orange border</div><hr>

</body>
</html>