<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        em {
            font-weight: bold;
            color: black;
        }

        h1 {
            font-family: Tahoma, Helvetica, sans-serif;
            color: gold;
        }

        p {
            font-size: 12pt;
            font-family: sans-serif, Arial;
        }

        em.play
        {
            color:lightgreen;
        }

        .special {
            color: purple
        }
    </style>
</head>
<body>

<h1 class="special"> David and Associates, Inc.</h1>
<p> David and Associates, inc. is an authorizing and corporate training
    organization specializing in programming languages, Internet web technology
    Iphone and Android app development, and object technology education
</p>

<h1>Clients</h1>
<p class="special"> The client includes many <em>Fortune 1000 Companies</em>, <em class="play">government agencies</em>, <em class="play">branches
    of the military</em> and business organizations.
</p>
</body>
</html>