<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css') }}">
    <style type="text/css">
        a
        {
            text-decoration: none;
        }
        a:hover
        {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<!-- a picture hyperlink to myGSU -->
<h1> Put something important here</h1>
<br>
<ul> <!-- Outer list(peridos) -->
    <li>You can meet new people from countries around the world</li> <!-- <li> is list item -->
    <li>You have access to new media when it becomes public:
        <ul> <!-- inner lisst (open circles) -->
            <li> New Games</li>

            <li> New applications
                <ol> <!-- inner  inner list (numbered) -->
                    <li>For business</li>
                    <li>For Pleasure</li>
                </ol>
            </li>

            <li>Around the clock news</li>
            <li>Shopping</li>

            <li>Programming
                <ol>
                    <li>Java</li>
                    <li><a href="http://www.python.org" target="_blank">Python</a></li>
                    <li><a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" target="_blank">C#</a></li>
                    <li><a href="http://www.cprogramming.com/" target="_blank">C</a></li>
                    <li><a href="http://www.cplusplus.com" target="_blank">C++</a></li>
                    <li><a href=http://www.w3schools.com/html/html5_intro.asp target="_blank"> HTML</a></li>
                </ol>
            </li>
        </ul>
    </li>

    <li>links</li>
    <li> Keeping in touch with old friends</li>
    <li> It's the technology of the future</li>
</ul>
</body>
</html>