<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module 2 Exercise 2</title>
</head>
<body>

<ul>
    <li><a href="http://www.deitel.com"> Deitel</a></li>
    <li><a href="https://www.facebook.com/DeitelFan/"> Deitel Facebook</a></li>
    <li><a href="https://www.deitel.com/training/">Deital government training</a></li>
    <li><a href="https://www.pearsonhighered.com/deitel/">Pearson's website</a></li>
    <li><a href="https://twitter.com"> twitter</a> </li>
</ul>

</body>
</html>