<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><label>First Name:
    <input autocomplete="on" type="text">
</label></p>
<p><label>Last Name:
    <input autocomplete="on" type="text">
</label></p>
<p>
    <label>email:
        <input type="email" autocomplete="on">
    </label>
</p>
<p>
    <label>favorite music genre:
    <input list="music" autocomplete="on">

    <datalist id="music">
        <option value="rap">
        <option value="hip-hop">
        <option value="country">
        <option value="jazz">
        <option value="rock">
        <option value="metal">
        <option value="gospel">
        <option value="reggae">
    </datalist>
    </label>
</p>
</body>
</html>