<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Module 2 assignment. Distributed Web System Design Fall 2016 Author: David Lewis -->
    <!-- Instructions: Create a HTML file with hyper links to your favorite sites and a heading
     saying 'My favorite Web Sites' -->
    <meta charset="UTF-8">
    <title>Module 2 Assignment</title>
</head>
<body>

<h1>My favorite Web Sites</h1>

<!-- hyper links to my most used/favorite sites. -->
<p><a href="https://Youtube.com" target="_blank" style="color:red;">Youtube</a></p>
<p><a href="https://Georgiasouthern.edu" target="_blank" style="color: navy;">Georgia Southern</a></p>
<p><a href="https://xbox.com" target="_blank" style="color: forestgreen">Xbox website</a> </p>
<p><a href="https://Netflix.com" target="_blank" style="color: black"> Netflix</a></p>
<p><a href="https://Hulu.com" target="_blank" style="color: lightgreen;"> Hulu</a> </p>



</body>
</html>