<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body{
            background-color: aquamarine;
        }

    </style>
   <script type="text/javascript" src="{{ url_for('static',filename='Module4Functions.js') }}"></script>
</head>
<body>
<form>
    <label>Date:
        <input type="date" id="date">
    </label>
    <input type="button" value="Format" onclick="timeDisplay()">

    <p id="display">

    </p>
<hr>
    <h1>Excercise 12.5</h1>
    <form>
        <input type="button" id="click" value="count" onclick=counter()>
    </form>
    <div id="div">0</div>
</form>
<hr>
<h1>Exercise 13.3</h1>
<table id = "canvas" on>
    <caption>Hold <em>Ctrl</em> (or <em>Control</em>) to draw blue.
        Hold <em>Shift</em> to draw red. Hold <em>Alt</em> to erase.</caption>
    <tbody id = "body"></tbody>
</table>
</body>
</html>