<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img{
           padding:5px;
            transform: scaleX(-1) scaleY(1);
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="2">
    <thead>
        <!-- don't need a head -->
    </thead>
    <tfoot>

    </tfoot>

    <tbody>
        <tr>
            <td>
                <p>
                    <h1>Objective</h1>
                    <ul>
                        <li>To be able to create tables with rows and columns</li>
                        <li>To be able to control the display and formatting tables</li>
                        <li>To be able to create and use forms</li>
                    </ul>
                    <i>Yeah, from the table i'll wipe away all trivial fond records</i>
                <br>
                William Shakespeare
            </td>
            <td><img src="http://www.theyooperstore.com/sitebuildercontent/sitebuilderpictures/webassets/.pond/P8260652.jpg.w300h250.jpg" height="300" width="200"></td>
        </tr>
    </tbody>
</table>
</body>
</html>


<!-- http://www.theyooperstore.com/sitebuildercontent/sitebuilderpictures/webassets/.pond/P8260652.jpg.w300h250.jpg -->