<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Table Example Page</h1>
<br>

<table border="1">
    <caption>Here is a small sample table</caption>
    <thead>
        <tr>
            <th colspan="2">This is the table head</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>This the the table</th>
            <th>foot</th>
        </tr>
    </tfoot>

    <tbody>
        <tr>
            <td colspan="2">This is the body</td>
        </tr>
    </tbody>
</table>
</body>
</html>