<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Fall 2012 Table -->
<table border="2">

    <caption>
        <strong>Fall 2012</strong>
    </caption>
    <thead>

    <!-- this row will be for the various columns. -->
    <tr> <!-- Table row -->
        <th>Classes</th> <!-- th is table header for that particular row -->

        <th>Hours</th>
    </tr>
    </thead>

    <!-- this is the bottom of the table -->
    <tfoot align="left">
    <tr>
        <th>Total</th>
        <th>12</th>
    </tr>
    </tfoot>
    <!-- the body of the table -->
    <!-- insert class,Semester,year and hours -->
    <tbody>
    <tr>
        <td>US History</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CS 1301</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CS 1236</td>
        <td>3</td>
    </tr>

    <tr>
        <td>FREN 1001</td>
        <td>3</td>
    </tr>
    </tbody>


</table>
<br>

<!-- Spring 2012 Table -->
<table border="2">

    <caption><strong>Spring 2012</strong></caption>

    <!-- column names -->
    <thead>
    <tr>
        <th>Classes</th>
        <th>Hours</th>
    </tr>
    </thead>

    <!-- bottom of the table -->
    <tfoot align="left">
    <tr>
        <th>Total</th>
        <th>13</th>
    </tr>
    </tfoot>

    <!-- body of the table -->
    <tbody>
    <tr>
        <td>Engl 1102</td>
        <td>3</td>
    </tr>
    <tr>
        <td>FYE 1410</td>
        <td>1</td>
    </tr>
    <tr>
        <td>CSCI 1230</td>
        <td>3</td>
    </tr>
    <tr>
        <td>HLTH 1520</td>
        <td>2</td>
    </tr>
    <tr>
        <td>MATH 1441</td>
        <td> 4</td>
    </tr>

    </tbody>

</table>
<br>
<!-- Spring 2016 Table -->
<table border="2">

    <!-- column names(head) -->
    <thead>
        <tr>
            <th colspan="2">Spring 2016</th>
        </tr>
        <tr>
            <th>Classes</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tfoot align="left">
        <tr>
            <th>Total</th>
            <th>15</th>
        </tr>
    </tfoot>

    <tbody>
    <tr>
        <td>CSCI 3432</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CSCI 5330</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CSCI 5331</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CSCI 5332</td>
        <td>3</td>
    </tr>
    <tr>
        <td>CSCI 5335</td>
        <td>3</td>
    </tr>
    </tbody>

</table>
</body>
</html>